<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
	<uses-feature android:name="android.hardware.usb.host" android:required="true"/>
	<uses-feature android:name="android.hardware.camera.any" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.external" android:required="false"/>
	<uses-permission android:name="android.permission.CAMERA"/>

    <application android:resizeableActivity="true" android:hardwareAccelerated="true">
        <!--
        PERMISSÃO USB UMA VEZ SÓ. A atividade do jogo (GodotApp) passa a
        atender o encaixe do Arduino e da webcam. No primeiro encaixe o
        Android oferece "Usar por padrão"; marcado, ele lembra para sempre
        e o jogo não pergunta mais a cada abertura.
        -->
        <activity android:name="com.godot.game.GodotApp" tools:node="merge">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/punch_usb_devices" />
        </activity>
        <!--
        Plugin metadata:

        - In the `android:name` attribute, the `org.godotengine.plugin.v2` prefix
        is required so Godot can recognize the project as a valid Godot
        Android plugin. The plugin name following the prefix should match the value
        of the plugin name returned by the plugin initializer.

        - The `android:value` attribute should be the classpath to the plugin
        initializer.
        -->
        <meta-data
            android:name="org.godotengine.plugin.v2.${godotPluginName}"
            android:value="${godotPluginPackageName}.GodotAndroidPlugin"/>
    </application>

</manifest>
